<config>
  <nombre>Proyecto de prueba</nombre>
  <version>1.0</version>
  <blobs>
    <blob id="1">
      <![CDATA[
      ]]>
    </blob>
    <blob id="2">
      <![CDATA[
      ]]>
    </blob>
    <blob id="3">
      <![CDATA[
      ]]>
    </blob>
    <blob id="4">
      <![CDATA[
        pegar aqui
      ]]>
    </blob>
    <blob id="5">
      <![CDATA[

      ]]>
    </blob>
  </blobs>
</config>
